{% extends 'base.html'%}
{% block title  %} Nos Produits {% endblock %}
{% block content  %}
   <h1><center>Le catalogues des produits</center></h1>
<div class="container">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">  <i>Identifiant </i></th>
      <th scope="col">Nom</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      {% for product in produits %}
      <th scope="row"><a href="{% url 'detailProduit' product.id %}"> {{ product.id }}</a></th>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.price }}</td>
    </tr>
     {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
